<!doctype html>
<html>
<head>
    <title>Safe-Haven</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="assets/css/main.css" />
<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
</head>
<body>

  <!doctype html>
  <html>
  <head>
      <title>Safe-Haven</title>
      <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel="stylesheet" href="style.css">
      <link rel="stylesheet" href="assets/css/main.css" />
  <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
  </head>
  <body>
    <% if(page === 'guestLogin') { %>
  <div class="container text-center">


      <div class="inner col-sm-10 col-sm-offset-3">
        <section>
          <% if (message.length > 0) { %>
              <div class="alert alert-danger"><%= message %></div>
          <% } %>
          <h1>GUEST LOGIN</h1>
              <form action="/guestLogin" method="post">
            <div class="fields">
              <div class="field">
                <input type="email" name="email" id="email" placeholder="Email" />
              </div>
              <div class="field">
                <input type="password" name="password" id="password" placeholder="password" />
              </div>

            </div>
            <ul class="actions">
              <li><button type="submit">Login</button></li>
            </ul>
          </form>
        </section>
        <hr>

        <p>Dont have an account? <a href="/guestSignup">Guest Signup</a></p>
        <span>Want to host someone? <a href="/hostSignup">SignUp</a></span>
        <p>Or go <a href="/">home</a>.</p>
      </div>
  </div>
  <% } else if(page === 'guestSignup') { %>
<div class="container text-center">
      <div class="inner col-sm-10 col-sm-offset-3">
        <section>
          <% if (message.length > 0) { %>
              <div class="alert alert-danger"><%= message %></div>
          <% } %>
          <h1>GUEST SIGNUP</h1>
              <form action="/guestSignup" method="post">
            <div class="fields">
              <div class="field half">
                <input type="text" name="firstName" placeholder="firstName" />
              </div>
              <div class="field half">
                <input type="text" name="lastName" placeholder="lastName" />
              </div>
              <div class="field half">
                <input type="text" name="age" placeholder="age" />
              </div>
              <div class="field half">
                <input type="text" name="sex" placeholder="gender" />
              </div>
              <div class="field">
                <input type="email" name="email" id="email" placeholder="Email" />
              </div>
              <div class="field">
                <input type="password" name="password" id="password" placeholder="password" />
              </div>
              <input type="text" name="userType" value="guest" style="display: none" />
            </div>
            <ul class="actions">
              <li><button type="submit">Signup</button></li>
            </ul>
          </form>
        </section>
        <hr>

        <p>Already have an account? <a href="/guestLogin">Guest Login</a></p>
        <span>Want to host someone? <a href="/hostSignup">SignUp</a></span>
        <p>Or go <a href="/">home</a>.</p>
      </div>

</div>
<% } %>
</body>
</html>
