<!-- Header -->
  <header id="header">
    <div class="inner">

      <!-- Logo -->
        <!-- <a href="index.html" class="logo">
          <span class="symbol"><img src="images/logo.svg" alt="" /></span><span class="title">Phantom</span>
        </a> -->

      <!-- Nav -->
        <nav>
          <ul>
            <li><a href="#menu">Menu</a></li>
          </ul>
        </nav>

    </div>
  </header>

<!-- Menu -->
  <nav id="menu">
    <h2>Menu</h2>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/hostLogin">Be a Host</a></li>
      <li><a href="/guestLogin">Be a Guest</a></li>
      <li><a href="generic.html">Contact us</a></li>
      <li><a href="elements.html">Elements</a></li>
    </ul>
  </nav>
